.carousel-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 2300px; /* Adjust width based on the number of items and their size */
  position: relative;
}

.product {
  min-width: 140px;
  margin: 0 10px; /* Add spacing between products */
  text-align: center;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}
.product img {
  width: 200px;  /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  object-fit: cover;  /* Ensure the image covers the container without stretching */
}

button {
  padding: 10px;
  margin: 0 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

button:disabled {
  color: gray;
  cursor: not-allowed;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition for the entire track */
}
