.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px; /* Increased max-width */
  margin: auto;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 14.28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.carousel-item img {
  width: 150px; /* Increased width */
  height: 150px; /* Increased height */
  object-fit: cover;
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  user-select: none;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

