.vegIcons{
    width:20px;  /* Set a fixed width */
  height: 20px; /* Set a fixed height */
 
}
.productImg {
    width:270px;  /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    object-fit: cover;  /* Ensure the image covers the container without stretching */
  }