/* Custom class to scale children elements when the parent is hovered */

.text1{
    font-size: 20px; 
    transition: 0.1s ease-in-out; 
   
}
.text2{
    font-size: 17px; 
    transition: 0.1s ease-in-out; 
}

.text3{
    font-size: 15px; 
    transition: 0.1s ease-in-out; 
}
.parent{
    transition: 0.1s ease-in-out; 
}
.parent:hover .child {
    transform: scale(0.96);
  }

  
  .parent:hover .text1 {
    font-size: 18px;
  

  }

  .parent:hover .text2 {
    font-size: 16px;

  }

  .parent:hover .text3 {
    font-size: 14px;

  }

  .image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}